h3
{
color: red;
background-color: aqua;
text-align: center;
border: 3px dashed blue;
margin: 1px;
padding: 1px;
width: 150px;


}

p
{
    text-align: justify;
    color: brown;
    background-color: aquamarine;
    border: 2px solid red;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    height: 180px;
    width: 150px;
    
}
